.text {
    margin: 0;
}

.small {
    font-size: 16px;
    line-height: 16px;
}

p.small {
    line-height: 24px;
}

@media (min-width: 768px) {
    .small {
        font-size: 18px;
        line-height: 18px;
    }

    p.small {
        line-height: 28px;
    }
}

.medium {
    font-size: 18px;
    line-height: 18px;
}

p.medium {
    line-height: 28px;
}

@media (min-width: 768px) {
    .medium {
        font-size: 21px;
        line-height: 21px;
    }

    p.medium {
        line-height: 33px;
    }
}

.large {
    font-size: 26px;
    line-height: 26px;
}

p.large {
    line-height: 36px;
}

@media (min-width: 768px) {
    .large {
        font-size: 29px;
        line-height: 29px;
    }

    p.large {
        line-height: 40px;
    }
}

.black {
    color: #000;
}

.red {
    color: #e70202;
}
