.title {
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.img {
    margin-bottom: 20px;
}

.created,
.tools {
    margin-bottom: 15px;
}

.link a {
    padding: 10px;
    background: #000;
    border: 1px solid #e6eaea;
    max-width: 100px;
    margin: auto;
    color: #fff;
    transition: all 0.5s;
}

.link a:hover {
    background: #e6eaea;
    border: 1px solid #000;
    color: #000;
}
