/* .project .tile {
  flex-basis: initial;
  max-width: 1000px;
  width: 100%;
} */

.projectTitle {
    margin-bottom: 15px;
    text-transform: capitalize;
}

.projectLink {
    padding: 10px;
    background: #000;
    border: 1px solid #e6eaea;
    max-width: 100px;
    margin: auto;
    color: #fff;
}

.projectLink:hover {
    background: #e6eaea;
    border: 1px solid #000;
    color: #000;
    transition: all 0.5s;
}
