.title {
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.img {
    margin-bottom: 20px;
}

.created,
.tools {
    margin-bottom: 15px;
}

.link {
    border: 1px solid #000;
    max-width: 100px;
    margin: auto;
    transition: all 0.5s;
}

.link:hover {
    background: #e6eaea;
}

.link a {
    padding: 10px;
}
