.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tiles > * {
    flex: 100%;
    max-width: initial;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .tiles > * {
        margin: 20px;
        flex-basis: calc(44% - 40px);
        max-width: calc(44% - 40px);
    }
}

@media (min-width: 1024px) {
    .tiles > * {
        flex-basis: calc(30% - 40px);
        max-width: calc(30% - 40px);
    }
}

.tiles.isFullWidth > * {
    flex-basis: initial;
    max-width: 1000px;
    width: 100%;
}

.tile {
    background: #fff;
    padding: 20px;
    text-align: center;
}
