.header {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #fff;
}

@media (min-width: 768px) {
    .header {
        padding: 20px;
    }
}

.nameDescription {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.name {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.navLink {
    margin: 0 10px;
    cursor: pointer;
}

.navList {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
